.content {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 10px;
}
#sub{
    font-size: 10px;
    color: #000000;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(123, 182, 255);
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background-color: #233dff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 5px;
}
